* {
  margin: 0;
  padding: 0;
}

body {
  background: #3a1f11;
  background-size: 500px;
  font-family: Roboto, sans-serif;
}
header{
  width: 100%;
  background: #602d12;
  border-bottom: 5px #2d1407 solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a{
  color: #fff;
  text-decoration: none;
}
header a:hover{
  text-decoration: underline;
  cursor: pointer;
}

header span{
  height: 40px;
  line-height: 40px;
  padding: 10px 20px;
}
header span:nth-child(2){
  float: left;
}
header span img{
  width: 40px;
  border-radius: 50%;
}
header span a img{
  transition: 0.2s;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  filter: invert(100%);
}
header span a img:hover{
  transition: 0.2s;
  transform: rotate(180deg);
}
header span h2{
  text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
  color: #b7700c;
}
#cont {
  position: absolute;
  padding: 0px 0px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
#cont #title {
  color: #fff;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin: 0px auto;
  text-shadow: 5px 5px 0px #512e12;
  font-family: Pacifico;
}

input {
  outline: none;
}

button {
  transition: 0.2s;
  width: 100%;
  padding: 10px;
  background: #512e12;
  font-size: 15px;
  font-family: Varela Round, sans-serif;
  border: none;
  color: #fcdb92;
  box-shadow: 0px 5px 0px #2d1a0a;
}
button:hover{
  transition: 0.2s;
  box-shadow: 0px 0px 0px #2d1a0a;
  transform: translateY(5px);
}
a button{
	color: #fcdb92;
	text-decoration: none;
}

#main {
  width: 100%;
  box-sizing: border-box;
  min-height: 220px;
  background-blend-mode: soft-light;
  background: url('wallpaper_home.jpg'), linear-gradient(to left, rgba(255,255,255,0.5), rgba(0,0,0,0));
  background-size: contain;
  //box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
}
#info img{
  border-radius: 50%;
  position: relative;
  width: 160px;
  height: 160px;
  margin-left: 20px;
  margin-top: 30px;
  //box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
  z-index: 4;
  border: 5px #602d12 solid;
}
#main h1 {
  font-family: Varela Round, sans-serif;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  padding: 0px 0px 20px 0px;
  font-size: 34px;
  color: #ffc87c;
}

#con{
  width: 85.4%;
  position: absolute;
  right: 0;
  height: 110px;
  margin-top: 110px;
  z-index: 1;
  background: #2d1407;
  float: right;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  box-shadow: inset 0px -5px 0px rgba(0,0,0,0.5);
  justify-content: space-around;
}
#con p{
  display: inline-block;
}
#con span{
  font-size: 17px;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  align-self: center;
}

#con_blue{
  box-shadow: inset 0px -5px 0px rgba(0,0,0,0.5);
  position: absolute;
  width: 85.4%;
  height: 110px;
  margin-top: 110px;
  z-index: 0;
  background: #602d12;
  float: right;
}

#setings{
  font-family: Varela Round, sans-serif;
  width: 0px;
  opacity: 0;
  color: #222;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #fff;
  z-index: 999;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
#setings h1{
  font-family: Varela Round, sans-serif;
  padding: 10px 0px;
  border-bottom: 3px #000 solid;
}
#setings h4{
  font-weight: normal;
  padding: 5px 0px;
}
#setings p{
  padding: 0px;
}
#setings p:nth-child(3){
  padding: 20px 0px 10px 0px;
}

#setings p a{
  text-decoration: none;
  color: #222;
}
#setings p a:hover{
  text-decoration: underline;
  color: #000;
}
#btn_pop_down_up{
  color: #fff;
  cursor: pointer;
  text-align: center;
  float: right;
  width: 12px;
  padding: 1px 5.5px;
  background: #ff0a26;
  border-radius: 50%;
}
#btn_pop_down_up:hover{
  background: #06f;
}
#lightbox_change_fperfil{
  opacity: 0;
  display: none;
  width: 100%;
  height: 0;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  cursor: pointer;
}
#main_change{
  border-radius: 10px;
  padding: 0px 50px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
}
#file_form{
  margin: 50px auto;
  padding: 10px 20%;
  box-sizing: border-box;
  background: #fff;
  border: 4px #000 solid;
  border-style: dashed;
  border-width: 4px;
}
#file_form:hover{
  background: #000;
  color: #fff;
  font-weight: bold;
}
#file_form input{
  display: none;
}
input[type="submit"]{
  padding: 10px 30px;
  margin-top: 20px;
  background: #00c;
  border: none;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
#btn_changue_foto{
  cursor: pointer;
  width: 12px;
  margin-top: -180px;
  margin-left: 610px;
  position: absolute;
  padding: 1px 5px;
  background: #000;
  color: #fff;
  border-radius: 50%;
}

#cont_main_home{
  width: 100%;
  background: #fff;
}

#cont_main_home table{
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
}
#cont_main_home table td{
  text-align: center;
  padding: 10px;
}
#cont_main_home table td:nth-child(1){
  width: 10%;
}
#cont_main_home table td:nth-child(2){
  width: 30%;
}

#btn_icon_event{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
  width: 25px;
  height: 25px;
  background: rgba(0,0,0,0.1);
  border-radius: 50%;
  float: right;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn_icon_event:hover{
  background: rgba(0,0,0,0.3);
}
#btn_icon_event:nth-child(1){
  margin-right: 1%;
}
.icon_upload{
  background: url('upload_file.png');
  width: 100%;
  height: 100%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.icon_download{
  background: url('download.png');
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.icon_delete{
  background: url('delete.png');
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
table tr:nth-child(1){
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5); 
}
.tr_title{
  font-weight: bold;
}