* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://media.istockphoto.com/vectors/seamless-lettering-coffee-pattern-with-quotes-hand-drawn-vector-vector-id836477702?k=6&m=836477702&s=612x612&w=0&h=N81ezRXWMuVlCN5KoZbbi0YhA4rqUStb9jKYlgQ7AAM=);
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: soft-light;
  background-size: 500px;
  font-family: Roboto, sans-serif;
}

#cont {
  position: absolute;
  padding: 0px 0px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
#cont #title {
  color: #fff;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin: 0px auto;
  text-shadow: 5px 5px 0px #512e12;
  font-family: Pacifico;
}
#cont #title h1 #coffee {
  transform: rotate(-16deg);
}
#cont #title h1 #coffee:nth-child(2) {
  transform: rotate(16deg);
}

input {
  outline: none;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  padding: 10px 0px;
  border: none;
  background: rgba(0, 0, 0, 0);
  color: #3d2310;
  font-size: 17px;
  border-bottom: 3px #513018 solid;
  font-family: Varela Round, sans-serif;
  box-sizing: border-box;
}
input[type=submit], button {
  transition: 0.2s;
  width: 100%;
  padding: 10px;
  background: #512e12;
  font-size: 15px;
  font-family: Varela Round, sans-serif;
  border: none;
  color: #fcdb92;
  box-shadow: 0px 5px 0px #2d1a0a;
}
input[type=submit]:hover, button:hover{
  transition: 0.2s;
  box-shadow: 0px 0px 0px #2d1a0a;
  transform: translateY(5px);
}
a button{
	color: #fcdb92;
	text-decoration: none;
}

#main {
  border-top: 5px #512e12 solid;
  border-radius: 5px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f1e9d4;
  box-shadow: 0px 0px 20px #000;
}
#main h1 {
  font-family: Varela Round, sans-serif;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  padding: 0px 0px 20px 0px;
  font-size: 34px;
  color: #512e12;
}

#main_verify {
  border-top: 5px #512e12 solid;
  border-radius: 5px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f1e9d4;
  box-shadow: 0px 0px 20px #000;
}
#recon{
  padding: 20px;
  width: 70px;
  height: 70px;
  line-height: 75px;
  color: #fff;
  font-size: 80px;
  font-family: Varela Round;
  border-radius: 60px;
  background: #512e12;
  border: 5px #381f0b solid;
  text-shadow: 0px 7px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
}
#negritas {
  font-weight: bold;
  font-family: Varela Round, sans-serif;
  //text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  padding: 0px 0px 20px 0px;
  font-size: 29px;
  color: #512e12;
}

#label_p {
  padding: 20px 0px 0px 0px;
  color: #512e12;
  font-family: Varela Round, sans-serif;
  font-size: 19px;
  font-weight: bold;
}
#label_p:nth-child(2) {
  padding: 0px;
}

a {
  color: #512e12;
}
a:hover {
  color: #000;
}

.error{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 12px;
  background: #632414;
  border-top: 3px #280d06 solid;
  color: #fff;
  margin: 10px auto;
}

#div_pop_up{
  animation: 0.5s;
  animation-name: animacion_pop_up;
  position: absolute;
  top: 20px;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  width: 30%;
  color: #fff;
  padding: 10px 10px 20px 10px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 99999;
}

@keyframes animacion_pop_up{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

#cont_pop_up{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#div_pop_up p:nth-child(2){
  text-align: center;
  margin-top: 10px;
}

#div_pop_up p:nth-child(1){
  text-align: right;
}
#div_pop_up p:nth-child(1):hover{
  cursor: pointer;
}

#btn_pop_down_up{
  text-align: center;
  float: right;
  width: 12px;
  padding: 2px 5px;
  background: #ff0a26;
  border-radius: 10px;
}
#btn_pop_down_up:hover{
  background: #06f;
}